thermal_anomaly_project:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: your-gcp-project-id
      dataset: thermal_anomaly_dbt
      threads: 4
      keyfile: /absolute/path/to/gcp_credentials.json
      location: US
      priority: interactive
