# ===== GCP =====
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-unique-bucket-name
BQ_DATASET=thermal_anomaly_dw

# Local path to service account JSON
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/gcp_credentials.json

# ===== Airflow =====
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow

# ===== Pipeline =====
RAW_INPUT_DIR=./data/raw
CURATED_LOCAL_DIR=./data/outputs/curated
COUNTRIES=India,United States
YEARS=2021,2022,2023,2024
